.bottom-sheet {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-gray-700);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

.button-handler {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    padding: 18px 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    touch-action: pan-y;

    &::before {
        display: block;
        width: 63px;
        height: 4px;
        margin: 0 auto;
        border-radius: 100px;
        background-color: var(--color-gray-600);
        content: '';
    }
}

.bottom-sheet-header {
    flex: 0 0 auto;
    padding: 0 14px;
}

.bottom-sheet-title {
    display: block;
    font-size: 20px;
    color: var(--color-white);
    line-height: 28px;
}

.bottom-sheet-description {
    margin-top: 4px;
    font-size: 12px;
    color: var(--color-gray-200);
    line-height: 17px;
}

.bottom-sheet-sub-title {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray-200);
    line-height: 17px;

    & ~ .bottom-sheet-sub-title {
        margin-top: 24px;
    }
}

.bottom-sheet-content {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 24px;
    padding: 0 14px;
}

.bottom-sheet-footer {
    flex: 0 0 auto;
    padding: 8px 14px 14px;
}
