@use '@/shared/styles/utils/mixins';

.highlight {
    color: var(--color-state-error);
}

.quest-report-bottom-sheet {
    min-height: 421px;
}

.quest-report-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.quest-report-radio {
    display: block;
    padding: 7px 11px;
    border: 1px solid var(--color-gray-600);
    border-radius: 100px;
    background-color: var(--color-gray-600);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-200);
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

    &[aria-checked='true'] {
        border-color: var(--color-white);
        color: var(--color-white);

        &::before {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 6px 8px 0 0;
            vertical-align: top;
            content: '';
        }

        &.easy::before {
            background-color: var(--color-state-success);
        }

        &.normal::before {
            background-color: var(--color-sub-yellow);
        }

        &.hard::before {
            background-color: var(--color-main-orange-default);
        }
    }
}

.quest-report-photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    margin-top: 12px;

    @include mixins.remove-scroll(x);
}

.photo-list {
    display: inline-flex;
    gap: 8px;

    .photo-item {
        flex: 0 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 6px;
        background-color: var(--color-gray-600);
        overflow: hidden;
    }

    .photo-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.button-add-photo {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--color-gray-600);

    .icon-add-photo {
        display: block;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
    }
}

.quest-report-textarea {
    margin-top: 24px;
}
